*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: antiquewhite;
	opacity: 0.9;

	background: url("/static/nasa-Q1p7bh3SHj8-unsplash.jpg") no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 650px;
	box-shadow: 0px 10px 7px 0px grey;
}
nav{
	background-color:rgba(251,251,251,0.11);

}
 .nav-item .nav-link:hover, .nav-item .nav-link:hover{
	color: rgba(13,230,70,0.77);
}
/*.navbar2{
	position:-webkit-sticky;
	position: sticky;
	top:0px;
}*/
 .nav-item .active:hover, .nav-item .active:hover{
	color: aliceblue;
}
#navbar{
	position:sticky;
	position:-webkit-sticky;
	top:0;
	z-index:21;
}
.d-block img{
	width: 700px;
	height: 400px;
}
.d-block p{
	font-family: 'Libre Baskerville', serif;
}
.d-flex img{
	width: 70px;
	height: 70px;
}
.text-white{
	font-family: 'Chilanka', cursive;
	font-size: 30px;
	margin-top: 40px;
}
.carousel-indicators i{
	color: white;
	
}
.carousel-indicators .active{
	color: red;
}
/* Card */
.container{
	background-color: aliceblue;
}
.card{
	box-shadow: 3px 3px 7px 4px rgb(97, 126, 85);
}
.card:hover{
	box-shadow: 5px 5px 10px 7px rgb(97, 126, 85);
}
.card-img-top{
	opacity: 1;
}
.card:hover .card-img-top {
	opacity: 0.4;
}
.overlayer{
	position: absolute;
	top: 0%;
	left: 0%;
	transition: .6s ease-in-out;
	opacity:1;
	width: 100%;
	height: 0%;
	font-size: 25px;
	color: rgb(252, 248, 248);
	background-color: black;
	font-family: 'Chilanka', cursive;
	font-weight: bolder;
	transition:  ease-in-out 0.5s;
}
.card:hover .overlayer{
	height: 100%;
}
.cardText{
	position: absolute;
	top:30%;
	left:30%;
	opacity: 0;

}
.card:hover .cardText{
	opacity: 1;
}
/* card end*/
@media (max-width:1198px){
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #DC0B0B;
}

	}
